.wrapper {
	display: flex;
	height: calc(100vh - 65px);
}

.leftCol {
	width: 100%;
	overflow: auto;
}

.btn {
	width: 180px;
	height: 40px;
	margin-top: 25px;
	margin-left: 357px;
	background-color: #008cf0;
	border-radius: 20px;
	font-family: Ubuntu, sans-serif;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 300;
	color: #ffffff;
	cursor: pointer;
}

.tableContainer {
	padding: 4px 0 0 3px;
}

.table {
	width: calc(100vw - 115px);
	margin-top: 15px;
	text-align: left;
	border-collapse: collapse;
}

.table th {
	height: 45px;
	padding-left: 16px;
	border-bottom: 1px solid #dae0e7;
	font-family: Ubuntu, sans-serif;
	font-size: 16px;
	line-height: 1.2;
	color: #404147;
}

.table th div {
	height: 22px;
	border-right: 1px solid #e2e7ea ;
}

.table th:nth-child(1) {
	width: 35px;
}

.table th:nth-child(2) {
	width: 80px;
}

.table th:nth-child(3) {
	width: 420px;
}

.table th:nth-child(4) {
	width: 125px;
}

.table th:last-child div {
	border-right: none;
}



