.wrapper {
	height: 100%;
	width: 975px;
	background-color: #ecf3f7;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.25);
	border-radius: 5px;
	z-index: 4;
	overflow-y: auto;
}

.wrapper::-webkit-scrollbar {
	display: none;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	background-color: #1a4876;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.25);
	color: white;
	font-size: 18px;
	font-weight: 400;
	padding-left: 37px;
	padding-right: 31px;
}

.header button{
	cursor: pointer;
	background: none;
}

.container {
	margin-top: 55px;
	margin-left: 37px;
	min-height: 100%;
}